.container {
	display: block;
	margin: 0 auto;
	background-color: gray;
}

rect {
	fill: #61dafb;
}
rect:hover {
	fill: lightcyan;
}

line#limit {
	stroke: #fed966;
	stroke-width: 3;
	stroke-dasharray: 3 6;
}
