.container {
	display: block;
	margin: 0 auto;
	background-color: gray;
}
rect {
	fill: orange;
}
circle {
	stroke: red;
	stroke-width: 2;
}
line,
polyline,
polygon {
	stroke: none;
	stroke-width: 2;
}
